@model CreateWorkLocationDto
@{
    ViewData["Title"] = "AddWorkLocation";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label>Work Location Name</label>
    <input type="text" asp-for="WorkLocationName" class="form-control" />
    <br />
    <label>Work Location City</label>
    <input type="text" asp-for="WorkLocationCity" class="form-control" />
    <br />

    <button class="btn btn-outline-success">Add Work Location</button>
</form>

